body{
    background: linear-gradient(to right, #91E2FF, #00329F);
    text-align: center;

    font-size: 26px;
    font-family: 'Roboto Mono', monospace;


}

.banner{

    background-image: url(banner.png);

    background-size: cover;
    box-shadow: 4px 4px 8px white;
    color: white;
    text-shadow: 1px 1px 5px black;
    height: 600px;
    background-position-y: 85%;


}

.banner p {
  font-family: 'Montserrat', sans-serif;

  margin: 40px;
  color: orange ;
  font-weight: lighter;
  font-size: 30px;
}

.banner button {
text-align: : left;
color: orange;
font-family: 'Montserrat', sans-serif;
font-weight: lighter;

}

.pb-3 {
border-radius: 10px;
  width: 200px;
}




#banner2{
    background-color: aliceblue;
}


.btn-danger
{
  color: white;
  font-size: 40px;
}

.btn-danger:hover
{
  color: blue ;
}


.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {

  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
